* {
  padding: 0;
  margin: 0;
}

:root {
  --background_color: #010616;
  --font_vcolor: #fff;
  --border_color: #0f19e0;
}

body {
  background-color: var(--background_color);
  font-family: "Poppins", sans-serif;

}


.site {
  display: grid;
  grid-template-rows: 10% auto 10%;
  height: 100vh;
}

.headin h2 {
  color: var(--font_vcolor);
  position: relative;
  line-height: -1vh;
  margin-top: 10%;

}

.headin h2::after {
  content: '';
  background-color: #de0b0b;
  width: 75%;
  height: .5vw;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.certification {
  display: inline-flex;
  flex-wrap: wrap;


}

.certification .sid_left {
  width: 60vw;
  align-items: center;
  justify-content: center;

}


.certification .sid_left img {
  max-width: 85%;
  z-index: -5;
  margin: 0%;
}

.certification .sid_rihit {
  width: 40vw;
  max-height: 1fr;
  gap: 0%;

}

.certification .sid_rihit .list {
  gap: -100%;
}

.certification .sid_rihit ul {
  list-style: none;
  color: var(--font_vcolor);
}

.certification .sid_rihit h4 {
  color: var(--font_vcolor);
  line-height: 3;

}

.certification .sid_rihit .list {
  padding-left: 15%;
}

.certification .sid_rihit .badge_onliy {
  width: 100%;
  background-color: #fff;
  height: 10%;
}


@media screen and (min-width: 900px) {
  .certification {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .certification .sid_left {
    width: 60%;
    box-sizing: border-box;
  }

  .certification .sid_rihit {
    width: 40%;
    text-align: left;
  }

  .certification .nvq h4 {
    font-size: 1.5vh;
    line-height: 1.5;


  }

  .certification .sid_rihit h4 {
    font-size: 1.5vw;
  }


  .headin h2 {
    font-size: 6vh;
  }

}



@media screen and (max-width: 900px) {

  /*adu ewa*/
  .headin h2 {
    font-size: 3vh;
  }

  .certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
  }

  .certification .sid_left,
  .certification .sid_rihit {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .certification .sid_left img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .certification .sid_rihit h4 {
    width: 100%;
    font-size: 2vh;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;

  }

  .skills ul {
    padding-left: 20px;
    text-align: left;
  }


}

.certification .sid_left .badge {
  width: 20%;
  transform: translate(200%, -85%);
}