* {
  padding: 0%;
  margin: 0%;
}

:root {
  --background_color: #0E0517;
}

body {
  background-color: var(--background_color);
}

.contaner {
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.left_side {
  width: 60%;
}

.rit_side {
  width: 40%;
}

.PacketTracer img {
  width: 100%;

}